.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

.item {
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

